<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>APPJAM</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

    <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=0">
    <link rel="stylesheet" href="css/main.css">
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="image">
        <div class="hello">
            <div class="hello-edcan">EDNOISE</div>
            <div class="hello-content">AS HIGH AS YOU LIVE , HIGH QUALITY OF LIFE</div>
        </div>
    </div>
    <div class="content">
        <div class="content-box">
            <div class="content-data">
                <div class="haljak a l">
                    <div class="haljak-img login"></div>
                    <div class="haljak-name b">LOGIN</div>

                </div>
            </div>
            <div class="content-data i">
                <div class="haljak">
                    <div class="haljak-img info"></div>
                    <div class="haljak-name">INFO</div>

                </div>
            </div>
        </div>

        <div class="content-box">
            <div class="content-data s">
                <div class="haljak">
                    <div class="haljak-img sug"></div>
                    <div class="haljak-name">AI SUGGESTION</div>

                </div>
            </div>
            <div class="content-data d">
                <div class="haljak">
                    <div class="haljak-img dash"></div>
                    <div class="haljak-name">DASHBOARD</div>

                </div>
            </div>
        </div>
    </div>
    <script>
        $(".d").click(function(){
            alert("준비중입니다")
        })

        $(".i").click(function(){
            alert("준비중입니다")
        })

        $(".l").click(function(){
            alert("준비중입니다")
        })

        $(".s").click(function(){
            location.href="http://localhost:8016/voice"
        })
    </script>
</body>
</html>